@model CRMYonetimSistemi.Models.Payment

@{
    ViewData["Title"] = "Ödemeyi Sil";
}

<h1>Ödemeyi Sil</h1>

<h3 class="text-danger">Bu ödeme kaydını silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Müşteri
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Customer!.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </form>
</div>
